#scroll-to-top {
    position: fixed;
    bottom: 20px;
    right: 20px;
    color: #000000;
    border: 1px solid #000000;
    width: 56px;
    height: 56px;
    z-index: 1000;
    background-color: rgba(255, 255, 255, 0);
}

#scroll-to-top:hover {
    border: 2px solid #000000;
}