#scroll-to-top {
    position: fixed;
    bottom: 20px;
    right: 20px;
    color: #00415D;
    border: 1px solid #002f40;
    width: 56px;
    height: 56px;
    z-index: 1000;
    background-color: white;
}

#scroll-to-top:hover {
    border: 2px solid #002f40;
}