.social-icon {
  transition: color 0.3s ease;
}

.social-icon.facebook {
  color: #1877F2; /* Azul Facebook */
}

.social-icon.instagram {
  color: #E4405F; /* Rosa Instagram */
}

.social-icon:hover {
  filter: brightness(85%); /* Oscurece al hacer hover */
}
