@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&family=Montserrat:wght@600;800&display=swap');


html {
  scroll-behavior: smooth;
}


@media (min-width: 768px) {
  [id] {
    scroll-margin-top: 90px; /* Ajusta según la altura de tu navbar */
  }
}


body {
  font-family: 'Lato', sans-serif;
  color: #333;
  background-color: #fff;
  margin: 0;
  padding: 0;
  line-height: 1.6;
}

h1, h2, h3 {
  font-family: 'Montserrat', sans-serif;
  font-weight: 800;
  color: #000000;
  margin-bottom: 0.5rem;
}
